/* ---------------------------------------Braking point 1024px------------------------------------------ */
@media (max-width: 1024px){
    /* Start Header Section */
    .header-section{
        height: 60vh;
    }
    .header-section nav.navbar{
        box-sizing: content-box;
    }
    .header-content {
        position: unset;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 15%;
    }
    /* End Header Section */
    
    /* Start Service Section */
    .card-custom {
        width: auto;
    }
    .card-custom .card-title {
        height: 50px;
    }
    /* End Service Section */
    
    /* Start Team Section */
    
    .team .card-custom .card-social-media i {
        width: 30px;
        height: 30px;
        color: #fff;
        background-color: #bdd1df;
        padding: 8px 5px;
        font-size: 15px;
        margin: 0 3px;
        border-radius: 50%;
    }
    /* End Team Section */
    
    /* Start About Us Section */
    .about-us .media img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 10px !important;
    }
    /* End About Us Section */
}


/* ---------------------------------------Braking point 768px------------------------------------------ */
@media (max-width: 768px){
    /* Start Header Section */
    .header-section nav.navbar .navbar-brand{
        text-align: center;
        padding: 5px 0;
    }
    .header-section .fixed-top {
        padding: 0px 0;
    }
    .header-section .navbar .navbar-collapse.collapse.show .nav-link{
        text-align: center;
        padding: 10px;
    }
    .header-section .navbar-light .navbar-toggler{
        border: none;
    }
    .header-section .navbar button:focus,
    .nav-mobile button:focus{
        outline: unset;
    }
    
    .nav-mobile.active{
        display: block !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, .97);
        transition: .5s;
    }
    .nav-mobile button{
        position: absolute;
        top: 30px;
        right: 30px;
        background: none;
        border: none;
    }
    .nav-mobile button i{
        font-size: 25px;
    }
    .nav-mobile .navbar-nav{
        margin-top: 20%;
    }
    .nav-mobile ul li a{
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, .5);
    }
    .nav-mobile ul li a:hover{
        color: rgba(255, 255, 255, 1);
    }
    .nav-mobile ul li{
        padding: 10px 0;
    }
    /* End Header Section */
    
    /* Start Service Section */
    .title {
        width: 80%;
    }
    .team .card-custom .card-social-media i {
        width: 40px !important;
        height: 40px !important;
        color: #fff !important;
        background-color: #bdd1df !important;
        padding: 10px !important;
        font-size: 20px !important;
        margin: 0 5px !important;
        border-radius: 50% !important;
    }
    .card-custom .card-title {
        height: auto;
    }
    /* End Service Section */
}

/* ---------------------------------------Braking point 540px------------------------------------------ */
@media (max-width: 540px){
    
    /* Start Header Section */
    .header-section {
        height: 67vh;
    }
    .header-section .navbar-light .navbar-toggler {
        margin-right: 30px;
    }
    /* End Header Section */
    
    /* Start Footer Section */
    .footer-mobile{
        display: block !important;
    }
    .footer-desktop{
        display: none;
    }
    /* End Footer Section */
    
}

/* ---------------------------------------Braking point 425px------------------------------------------ */
@media (max-width: 425px){
    
    h1{
        font-size: 37px;
    }
    h2{
        font-size: 35px;
    }
    
    /* Start Header Section */
    .header-section{
        height: 65vh;
    }
    .header-section nav.container {
        width: auto;
    }
    .header-content {
        margin-top: 35%;
    }
    .header-section .navbar-light .navbar-toggler {
        margin-right: 0;
    }
    /* End Header Section */
    
    /* Start Service Section */
    .section-padding {
        padding: 10% 0;
    }
    .title {
        width: 100%;
    }
    /* End Service Section */
    
    /* Start About Us Section */
    .about-us .media .media-body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    /* End About Us Section */
    
    /* Start Portfolio Section */
    .portfolio .filter-button-group button {
        margin: 0px;
    }
    /* End Portfolio Section */
    
    /* Start Contact Us Section */
    .contact-us form {
        width: 100%;
    }
    /* Start Contact Us Section */
}

/* ---------------------------------------Braking point 414PX------------------------------------------ */
@media (max-width: 414px){
    
    /* Start Header Section */
    .header-section{
        height: 78vh;
    }
    /* End Header Section */
}

/* ---------------------------------------Braking point 411PX------------------------------------------ */
@media (max-width: 411px){
    
    /* Start Header Section */
    .header-section{
        height: 78vh;
    }
    /* End Header Section */
}

/* ---------------------------------------Braking point 375PX------------------------------------------ */
@media (max-width: 375px){
    
    /* Start Header Section */
    .header-section{
        height: 70vh;
    }
    /* End Header Section */
    
    /* Start Portfolio Section */
    .portfolio .filter-button-group button {
        padding: 5px 15px;
    }
    /* End Portfolio Section */
}

/* ---------------------------------------Braking point 360PX------------------------------------------ */
@media (max-width: 360px){
    
    /* Start Header Section */
    .header-section{
        height: 85vh;
    }
    /* End Header Section */
}

/* ---------------------------------------Braking point 320PX------------------------------------------ */
@media (max-width: 320px){
    
    /* Start Header Section */
    .header-section{
        height: 100vh;
    }
    /* End Header Section */
}

